POSTGRES_USER= > .env.example
POSTGRES_PASSWORD= >> .env.example
POSTGRES_DB= >> .env.example
POSTGRES_HOST=localhost >> .env.example
POSTGRES_PORT=5432 >> .env.example
PGADMIN_EMAIL= >> .env.example
PGADMIN_PASSWORD= >> .env.example