echo POSTGRES_USER= > .env.example
echo POSTGRES_PASSWORD= >> .env.example
echo POSTGRES_DB= >> .env.example
echo POSTGRES_HOST=localhost >> .env.example
echo POSTGRES_PORT=5432 >> .env.example
echo PGADMIN_EMAIL= >> .env.example
echo PGADMIN_PASSWORD= >> .env.example